/* React Date and Time */
.rdtPicker {
    background-color: #ffffff;
    border: 1px solid #e91e63;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .rdtPicker td.rdtDay:hover,
  .rdtPicker td.rdtHour:hover,
  .rdtPicker td.rdtMinute:hover {
    background-color: #fce4ec;
  }
  
  .rdtPicker td.rdtActive,
  .rdtPicker td.rdtActive:hover {
    background-color: #e91e63 !important;
    color: #ffffff;
  }
  
  .rdtPicker th {
    color: #e91e63;
  }
  
  .rdtPicker .rdtTimeToggle {
    color: #e91e63;
  }